@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);/*font-family: 'cwTeXHei', sans-serif;黑體*/
@import url(http://fonts.googleapis.com/earlyaccess/cwtexkai.css);/*font-family: 'cwTeXKai', serif;楷體*/
*{margin:0;padding:0;} 
body ul, body li{padding:0;margin:0;list-style:none;}
body a{text-decoration:none;}
input:focus{outline:none}
select::-ms-expand{display:none;}
::-webkit-scrollbar {width: 0px;background:#ffffff;height:8px;}
::-webkit-scrollbar-thumb {background: rgba(255, 255, 255, 0.16);}   
body{margin:0 auto;padding:0;width:100%;min-width:270px;font-family:'微軟正黑體','Microsoft JhengHei','cwTeXHei', sans-serif;
    background-color:white;position:relative;overflow-x: hidden;}
header{width:100%;margin:0 auto;border-bottom:1px solid #e8e8e8;padding-bottom: 5px;box-sizing:border-box;
    position:fixed;top:0;z-index:3;background-color:#fff;}
header .bg{width:100%;position:absolute;top:0;left:0;z-index:2;display:none;background-color:rgb(28, 28, 28);}
header nav{width:30px;height:40px;cursor:pointer;display:none;position:absolute;right:0;top:22px;}   
header nav span{position: absolute;display: block;width: 100%;height: 2px;background: #030f32;
-webkit-transition: all .3s ease 0s;transition: all .3s ease 0s;}
header nav span:nth-of-type(1){top:2px;}
header nav span:nth-of-type(2){top:12px;}
header nav span:nth-of-type(3){top:22px;}
.menuOpen header nav span:nth-of-type(1){top: 12px;transform: rotate(45deg);-webkit-transform: rotate(45deg);background:#fff;}
.menuOpen header nav span:nth-of-type(2){width: 0;right: 0}
.menuOpen header nav span:nth-of-type(3){top: 12px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);background:#fff;}
header .row1,header .row p{max-width:1480px;width:100%;margin:0 auto;height:74px;display:flex;align-items:center;position: relative}
header .row{background: #111;width:100%;padding:0 20px;box-sizing:border-box;}
header .row p{color:#fff;font-size:13px;height:30px;}
header .row p a,header .row p span{color:#fff;height:20px;margin:5px 0;transition: all 0.7s;}
header .row p a:hover,header .row p span:hover{color:#e33e32; }
header .row p span:nth-of-type(1):after{content:' | ';margin-right: 5px;}
header .row1>a{display:inline-block;margin-left:5%;}
header .row1 a h1{font-size:0;text-indent:-9999px;width:163px;height:35px;background:url(../img/logo@2x.png) no-repeat center -1px;background-size:contain;color:transparent;}
header .row1 .right{width:90%;text-align:center;display:flex;justify-content:flex-end;padding-right:5%;}  
header .row1 .right a{color:#444;font-weight:600;display:inline-block;width:auto;margin:0 10px;line-height:70px;
    font-size:1rem;transition:all 0.5s;padding:20px 0 20px;cursor:pointer;}
header .row1 .right a:hover{color:#e33e32;}
header .row1 .menu{width:100%;position:absolute;top:70px;right:0;z-index:3;padding-left:0;display: none;}
header .row1 .menu a{display:block;background-color:rgb(28, 28, 28);margin:0;color:#fff;border-bottom:1px solid #fff;line-height:70px;text-align: center;}
#main {width: 100%;margin-top:63px;}

/*麵包屑*/
#main #breadcrumbs{display:flex;align-items: center; width: 100%;height:30px;}
#main #breadcrumbs a{ padding:.7em 1em;color: #444;text-shadow: 0 1px 0 rgba(255,255,255,.5);}
#main #breadcrumbs a:hover{color:#d10c6e;}
#main #breadcrumbs .current{font-weight:normal;background:transparent;color: #1053bf;display:inline-block; width:96px;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
/*flexslider*/
.flexslider{border:0;}
.flex-direction-nav a{z-index:1;}

/*footer*/
footer{width:100%;padding:40px 0 30px;margin:0 auto;color:#6f6f6f;background-color:#222;
    text-align:center;font-size:0.9rem;}
footer .wp{max-width:1480px;margin:0 auto;}
footer .top,footer .top .m{display:flex;}
footer .top h3 a,footer .top h4{color:#939393;transition:all 1s;}
footer .top ul li,footer .top p,footer .top p a{color:#6f6f6f;transition: all 1s;}
footer .top h3:hover a,footer .top p:hover a{color:#f44336;}
footer .top .l p{word-break:break-all;width:80%;margin:0 auto;}
footer .top .m{border:1px solid #6f6f6f;border-top:0;border-bottom:0; }
footer .top .m .mr{width:50%;align-items: flex-start;margin-top: 0;}
footer .top .row {width:33%;margin:0;padding:0;}
footer .top .r{text-align:left;padding-left:20px;}

footer .top .row img{width:187px;}
footer .down{padding-top:20px;}
/*購物車*/  
#bottom2{display:flex;justify-content: flex-start;align-items:flex-start;text-align: center;padding-top: 10px;}
#bottom2 {position: relative;}    
#bottom2 #cartInfo{position:fixed;z-index:5;width:50px;height:50px;bottom:10%;right:5%;
border-radius:50%;cursor:pointer;background-color:#fff;display:none;}
#bottom2 #cartInfo span{display:block;width:25px;height:25px;color:#f44336;background-color:transparent;text-align:center;font-size:18px;line-height:18px;font-weight: bold;position:absolute;left:30%;top:5px;z-index:5;}
#bottom2 #cartInfo i.flaticon-tool{position:absolute;right:5%;bottom:10%;font-size:2rem;color:#fff;background-color: aqua;}
#bottom2 #cartInfo i.flaticon-tool:before{content:"\f11c";position:absolute;top:-30px;left:-40px;background-color: aqua;}
/*backtop*/
#backtop{width:45px;height:45px;background: url("../img/arrow-up_b.png") no-repeat center;background-size: contain; display: none; position:fixed; right:5%;bottom:5%;z-index:5; cursor: pointer;opacity:0.8;}
@media(min-width:1000px){
    .flexslider .slides img{object-fit: cover;}
}
@media(max-width:1280px){
           header .row1 .right a{font-size:14px;}
}
    @media(max-width:900px){
           header .row1 .right a{font-size:0.9rem;}
    }
@media(max-width:780px){
    footer .top .l{display:none;}
    footer .top .m{border-left: 0;}
    footer .top .row{width:50%;}
}
    @media(max-width:710px){
       header .row1 .right{padding-right: 10px;}
       header .row1 .right a{color:#666;}
    }
@media(max-width:700px){
    header .row1{width: 90%;}
    }
@media(max-width:600px){
    
    header nav{display: block;z-index: 3;}
    header .row1 .right{display: none;}
    header .row1 .right a{font-size:0.8rem;}
    header .row p{width:90%;}
    footer .down{width:98%;margin:0 auto;}
}
@media(max-width:550px){
    footer .top .m.row{width:45%;}
    footer .top .r.row{width:55%;}
}
@media(max-width:500px){
    footer .top{flex-direction: column-reverse;}
    footer .top .m.row,footer .top .r.row{width:100%;margin:0 auto;border:0;}
    footer .top .r.row {text-align:center;margin-bottom:35px;padding-left: 0;}
    footer .down{padding-top:0;}
}
@media(max-width:414px){
    header .row p{flex-direction: column;height: auto;align-items: flex-start;}
    header .row p span:nth-of-type(1):after{content:' ';}
    #main{margin-top:140px;}
   
}
/**/
   h2{text-align:center;margin:70px auto;} 
    .flexslider{height:auto;overflow:hidden;margin-bottom:0;}
    .flex-control-nav{display:none;}
    #row1{width:auto;margin:0 auto 50px;padding-top:50px;
        display:flex;justify-content:center;align-items:center;}
    #main #row1 .right{width:500px;margin-left:20px;}
    #main #row1 .left img.title{height:35px;display:block;margin: 0 auto 10px;}
    #main #row1 .left div{background: #222;width:350px;position:relative;box-shadow:2px 2px 4px #444;}
    #main #row1 .left div:after{content:'';display:block;border:3px solid #5c5c5c;width:100%;height:260px;
    position:absolute;left:-20px;bottom:-20px;z-index:-1;}
    #main #row1 .left h2{margin:10px auto;color:#fff;}
    #main #row1 .left p{line-height:2rem;color:#fff;padding:20px;}
    #main #row1 .right iframe{width:100%;}
     
    .st0{fill:#FFFFFF;}
    #main .row2 .title{height:35px;display:block;margin:120px auto 50px;}
    #main .row2 ul{max-width:800px;width:100%;margin:0 auto;
        display:flex;justify-content:center;align-items:center;}
    #main .row2 ul li{margin:0 auto;background-color:#999;border-radius:50%;}
    #main .row2 ul li img{width:100px;}
    #main .flexslider2{max-width:1480px;width:80%;margin:50px auto;}
    #main .flexslider2 .slides li img{height:70px;}
    #main #row3{max-width:1480px;width:80%;margin:50px auto;
        display:flex;justify-content: center;align-items: center;flex-wrap: wrap;}
    #main #row3 section{margin:0.5%;width:32%;height:300px;
        box-shadow:2px 2px 7px #acacac;position:relative;
        position:relative;overflow:hidden;cursor:pointer;}
    #main #row3 section img{width:100%;height:100%;object-fit: cover;}
    #main #row3 section .text{position:absolute;bottom:0;left:0;z-index:2;width:100%;background:rgba(68,68,68,0.55);height:70px;transition:all 1s;}
    #main #row3 section .text h2{text-align:center;color:#fff;height:70px;margin:0;padding:10px 0;}
    #main #row3 section .text p{opacity:0;padding:10px;padding-top:0;transition:all 1s;color: #fff;}
    #main #row3 section:hover:before{content: '';display:block;width:100%;height:100%;
        position:absolute;top:0;left:0;z-index:1;background:rgba(0, 0, 0, 0.45);}
    #main #row3 section:hover .text{height:214px;}
    #main #row3 section:hover .text h2{height:32px;}
    #main #row3 section:hover .text p{opacity:1;}
    .image1{background: url(img/svg/1.png) no-repeat center top;background-size: contain;
        width: auto;height: 70px;margin: 0 auto;}
    .image2{background: url(img/svg/2.png) no-repeat center top;background-size: contain;
        width: auto;height: 70px;margin: 0 auto;}
    .image3{background: url(img/svg/3.png) no-repeat center top;background-size: contain;
        width: auto;height: 70px;margin: 0 auto;}
   .form{justify-content: center;align-items:center;position:fixed;z-index:3;top:0;left:0;width:100%;
    background-color:rgba(0, 0, 0, 0.84);display:none;overflow-y:scroll;}
    #contactForm{width: 500px;height:755px;margin: 0 auto;border: 1px solid #444;
padding: 30px;position: relative;background: #fff;     overflow-y: scroll;}
    #contactForm .flex{display:flex;width:80%;align-items:center;height: 60px;}
    #contactForm .flex>div{width:90%;}
    #contactForm .flex .flex{width:90%;flex-direction:column;justify-content:flex-end;}
    #contactForm .flex p{width:170px;font-size:1rem;color:#999;}
    #contactForm .close{position:absolute;font-size:2rem;color:#444;right:20px;top:20px;cursor:pointer;}
    #contactForm h2{margin:10px auto;}
    #contactForm>div{height:70px;margin:5px auto;}
    #contactForm input{display:block;width:80%;margin:0px auto;height:40px;
        border:0;border-bottom:1px solid #999;font-size:1rem;color:#555;}
    #contactForm .hasDatepicker{width:100%;text-align: center;}
    #contactForm label{display:block;width:80%;margin:0 auto;opacity:0;color: navy;font-size: 0.9rem;}
    #contactForm label.error{color:red;}
    #contactForm input:focus{border-bottom:3px solid navy;}
    #contactForm select{display:block;width:100%;height:40px;background:#f5f5f5;
    border:0;font-size:1rem;color:#999;-webkit-appearance: none;padding:2px 10px;box-sizing:border-box;}
    #quire{display:block;width:80%;height:200px;margin:30px auto;resize:none;font-size:1rem;}
     /*svg*/
    #main #row1 .left div.svg{width:200px;height:200px;background: transparent;
    box-shadow: none;margin: -86px auto -15px;}
#main #row1 .left div.svg:after{content:'';display:none;}
     svg path{stroke:#000;fill:#fff;stroke-width:2px;
        stroke-dasharray:100;stroke-dasharray: 2200;stroke-dashoffset:2200;
        transition: all 4s;animation: 7s a infinite 0.5s,3s a2 infinite 7s;
     }
    @keyframes a{
        form{stroke-dashoffset:2200;}
        to{ stroke-dashoffset:0;}
    }
     @keyframes a2{
        0%{fill:#fff;}
        20%{fill:#bbb;}
        80%{fill:#444;}
        100%{fill:#000}
    }
      #main #row2 div.svg{
          width:200px;height:200px;background: transparent;
          box-shadow: none;margin: 6px auto -100px;
      }
#main #row2 div.svg:after{content:'';display:none;}
    @media(max-width:1400px){
        #main #row3{width:90%;}
    }
    @media(max-width:1000px){
        #main #row3 section{width:42%;margin:1%;}
        #row4 .flex-direction-nav .flex-prev,#row4 .flex-direction-nav .flex-next{opacity:0;}
    }
     @media(max-width:950px){
        #main #row1{flex-direction:column;padding-top:0;}
        #main #row1 .left,#main #row1 .right{width:80%;}
        #main #row1 .right{margin-left:0;}
        #main #row1 .left div{width:80%;margin:0 auto 50px;}
        #main #row1 .left div:after{height:200px;}
        #main .row2 .title{margin:70px auto 50px;}
    }
    @media(max-width:800px){
        #main #row1 .left div:after{height:215px;}
        #main #row3 section{width:47%;}
    }
    @media(max-width:750px){ 
        #main #row1 .right{width:90%;}
    }
     @media(max-width:730px){ 
         #main #row1 .left div{width:90%;}
         #main #row1 .right{width:95%;}
    }
    @media(max-width:630px){ 
        #main #row1 .left div:after{height:230px;}
    }
    @media(max-width:620px){
        #main #row1 .left div:after{height:250px;}
         #main #row3 section{width:80%;margin: 3%;}
    }
    @media(max-width:600px){
        #main #row1 .left,#main #row1 .right{width:100%;}
    }
    @media(max-width:500px){
        #row1{width: 90%;}
        #main #row3 section{width:90%;}
        #contactForm{width:100%;padding:30px 0;}
    }
    @media(max-width:414px){
        #row1,#main #row1 .left div{width: 98%;}
        #main #row1 .left div:after{display:none;}
         #main #row3 section{width:98%;margin:3% 0;}
    }
    @media(max-width:350px){
        #main #row1 .left p{text-align: center;}
        #contactForm input,#contactForm label,#contactForm .flex,#quire{width:85%;}
    }
    /*slider text*/
    .flexslider .slides > li:before{
        content:'';display:block;
        width:100%;height:100%;
        background:rgba(0, 0, 0, 0.69);
        position: absolute;top:0;left:0;
    }
    .flexslider .slides > li{position:relative;}
     .flexslider .slides > li p{    
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
        width:100%;
    text-align:center;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     }
        .flexslider .slides > li p span {
            color: #fff;
            font-size: 2.5rem;
            font-family: "Montserrat",sans-serif,"微軟正黑體","Microsoft YaHei" !important;
            font-weight: 500;display:block;
        }
