/*
 * Default variables
 */
/**
 * Duration
 */
/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='50'] [aos], [aos][aos][aos-duration='50'] {
  transition-duration: 50ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='100'] [aos], [aos][aos][aos-duration='100'] {
  transition-duration: 100ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='150'] [aos], [aos][aos][aos-duration='150'] {
  transition-duration: 150ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='200'] [aos], [aos][aos][aos-duration='200'] {
  transition-duration: 200ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='250'] [aos], [aos][aos][aos-duration='250'] {
  transition-duration: 250ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='300'] [aos], [aos][aos][aos-duration='300'] {
  transition-duration: 300ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='350'] [aos], [aos][aos][aos-duration='350'] {
  transition-duration: 350ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='400'] [aos], [aos][aos][aos-duration='400'] {
  transition-duration: 400ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='450'] [aos], [aos][aos][aos-duration='450'] {
  transition-duration: 450ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='500'] [aos], [aos][aos][aos-duration='500'] {
  transition-duration: 500ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='550'] [aos], [aos][aos][aos-duration='550'] {
  transition-duration: 550ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='600'] [aos], [aos][aos][aos-duration='600'] {
  transition-duration: 600ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='650'] [aos], [aos][aos][aos-duration='650'] {
  transition-duration: 650ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='700'] [aos], [aos][aos][aos-duration='700'] {
  transition-duration: 700ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='750'] [aos], [aos][aos][aos-duration='750'] {
  transition-duration: 750ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='800'] [aos], [aos][aos][aos-duration='800'] {
  transition-duration: 800ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='850'] [aos], [aos][aos][aos-duration='850'] {
  transition-duration: 850ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='900'] [aos], [aos][aos][aos-duration='900'] {
  transition-duration: 900ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='950'] [aos], [aos][aos][aos-duration='950'] {
  transition-duration: 950ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1000'] [aos], [aos][aos][aos-duration='1000'] {
  transition-duration: 1000ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1050'] [aos], [aos][aos][aos-duration='1050'] {
  transition-duration: 1050ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1100'] [aos], [aos][aos][aos-duration='1100'] {
  transition-duration: 1100ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1150'] [aos], [aos][aos][aos-duration='1150'] {
  transition-duration: 1150ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1200'] [aos], [aos][aos][aos-duration='1200'] {
  transition-duration: 1200ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1250'] [aos], [aos][aos][aos-duration='1250'] {
  transition-duration: 1250ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1300'] [aos], [aos][aos][aos-duration='1300'] {
  transition-duration: 1300ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1350'] [aos], [aos][aos][aos-duration='1350'] {
  transition-duration: 1350ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1400'] [aos], [aos][aos][aos-duration='1400'] {
  transition-duration: 1400ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1450'] [aos], [aos][aos][aos-duration='1450'] {
  transition-duration: 1450ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1500'] [aos], [aos][aos][aos-duration='1500'] {
  transition-duration: 1500ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1550'] [aos], [aos][aos][aos-duration='1550'] {
  transition-duration: 1550ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1600'] [aos], [aos][aos][aos-duration='1600'] {
  transition-duration: 1600ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1650'] [aos], [aos][aos][aos-duration='1650'] {
  transition-duration: 1650ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1700'] [aos], [aos][aos][aos-duration='1700'] {
  transition-duration: 1700ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1750'] [aos], [aos][aos][aos-duration='1750'] {
  transition-duration: 1750ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1800'] [aos], [aos][aos][aos-duration='1800'] {
  transition-duration: 1800ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1850'] [aos], [aos][aos][aos-duration='1850'] {
  transition-duration: 1850ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1900'] [aos], [aos][aos][aos-duration='1900'] {
  transition-duration: 1900ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='1950'] [aos], [aos][aos][aos-duration='1950'] {
  transition-duration: 1950ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2000'] [aos], [aos][aos][aos-duration='2000'] {
  transition-duration: 2000ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2050'] [aos], [aos][aos][aos-duration='2050'] {
  transition-duration: 2050ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2100'] [aos], [aos][aos][aos-duration='2100'] {
  transition-duration: 2100ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2150'] [aos], [aos][aos][aos-duration='2150'] {
  transition-duration: 2150ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2200'] [aos], [aos][aos][aos-duration='2200'] {
  transition-duration: 2200ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2250'] [aos], [aos][aos][aos-duration='2250'] {
  transition-duration: 2250ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2300'] [aos], [aos][aos][aos-duration='2300'] {
  transition-duration: 2300ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2350'] [aos], [aos][aos][aos-duration='2350'] {
  transition-duration: 2350ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2400'] [aos], [aos][aos][aos-duration='2400'] {
  transition-duration: 2400ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2450'] [aos], [aos][aos][aos-duration='2450'] {
  transition-duration: 2450ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2500'] [aos], [aos][aos][aos-duration='2500'] {
  transition-duration: 2500ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2550'] [aos], [aos][aos][aos-duration='2550'] {
  transition-duration: 2550ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2600'] [aos], [aos][aos][aos-duration='2600'] {
  transition-duration: 2600ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2650'] [aos], [aos][aos][aos-duration='2650'] {
  transition-duration: 2650ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2700'] [aos], [aos][aos][aos-duration='2700'] {
  transition-duration: 2700ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2750'] [aos], [aos][aos][aos-duration='2750'] {
  transition-duration: 2750ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2800'] [aos], [aos][aos][aos-duration='2800'] {
  transition-duration: 2800ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2850'] [aos], [aos][aos][aos-duration='2850'] {
  transition-duration: 2850ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2900'] [aos], [aos][aos][aos-duration='2900'] {
  transition-duration: 2900ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='2950'] [aos], [aos][aos][aos-duration='2950'] {
  transition-duration: 2950ms; }

/* line 18, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-duration='3000'] [aos], [aos][aos][aos-duration='3000'] {
  transition-duration: 3000ms; }

/**
 * Delay
 */
/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='50'] [aos], [aos][aos][aos-delay='50'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='50'] [aos].aos-animate, [aos][aos][aos-delay='50'].aos-animate {
    transition-delay: 50ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='100'] [aos], [aos][aos][aos-delay='100'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='100'] [aos].aos-animate, [aos][aos][aos-delay='100'].aos-animate {
    transition-delay: 100ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='150'] [aos], [aos][aos][aos-delay='150'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='150'] [aos].aos-animate, [aos][aos][aos-delay='150'].aos-animate {
    transition-delay: 150ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='200'] [aos], [aos][aos][aos-delay='200'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='200'] [aos].aos-animate, [aos][aos][aos-delay='200'].aos-animate {
    transition-delay: 200ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='250'] [aos], [aos][aos][aos-delay='250'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='250'] [aos].aos-animate, [aos][aos][aos-delay='250'].aos-animate {
    transition-delay: 250ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='300'] [aos], [aos][aos][aos-delay='300'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='300'] [aos].aos-animate, [aos][aos][aos-delay='300'].aos-animate {
    transition-delay: 300ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='350'] [aos], [aos][aos][aos-delay='350'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='350'] [aos].aos-animate, [aos][aos][aos-delay='350'].aos-animate {
    transition-delay: 350ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='400'] [aos], [aos][aos][aos-delay='400'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='400'] [aos].aos-animate, [aos][aos][aos-delay='400'].aos-animate {
    transition-delay: 400ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='450'] [aos], [aos][aos][aos-delay='450'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='450'] [aos].aos-animate, [aos][aos][aos-delay='450'].aos-animate {
    transition-delay: 450ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='500'] [aos], [aos][aos][aos-delay='500'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='500'] [aos].aos-animate, [aos][aos][aos-delay='500'].aos-animate {
    transition-delay: 500ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='550'] [aos], [aos][aos][aos-delay='550'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='550'] [aos].aos-animate, [aos][aos][aos-delay='550'].aos-animate {
    transition-delay: 550ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='600'] [aos], [aos][aos][aos-delay='600'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='600'] [aos].aos-animate, [aos][aos][aos-delay='600'].aos-animate {
    transition-delay: 600ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='650'] [aos], [aos][aos][aos-delay='650'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='650'] [aos].aos-animate, [aos][aos][aos-delay='650'].aos-animate {
    transition-delay: 650ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='700'] [aos], [aos][aos][aos-delay='700'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='700'] [aos].aos-animate, [aos][aos][aos-delay='700'].aos-animate {
    transition-delay: 700ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='750'] [aos], [aos][aos][aos-delay='750'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='750'] [aos].aos-animate, [aos][aos][aos-delay='750'].aos-animate {
    transition-delay: 750ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='800'] [aos], [aos][aos][aos-delay='800'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='800'] [aos].aos-animate, [aos][aos][aos-delay='800'].aos-animate {
    transition-delay: 800ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='850'] [aos], [aos][aos][aos-delay='850'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='850'] [aos].aos-animate, [aos][aos][aos-delay='850'].aos-animate {
    transition-delay: 850ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='900'] [aos], [aos][aos][aos-delay='900'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='900'] [aos].aos-animate, [aos][aos][aos-delay='900'].aos-animate {
    transition-delay: 900ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='950'] [aos], [aos][aos][aos-delay='950'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='950'] [aos].aos-animate, [aos][aos][aos-delay='950'].aos-animate {
    transition-delay: 950ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1000'] [aos], [aos][aos][aos-delay='1000'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1000'] [aos].aos-animate, [aos][aos][aos-delay='1000'].aos-animate {
    transition-delay: 1000ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1050'] [aos], [aos][aos][aos-delay='1050'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1050'] [aos].aos-animate, [aos][aos][aos-delay='1050'].aos-animate {
    transition-delay: 1050ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1100'] [aos], [aos][aos][aos-delay='1100'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1100'] [aos].aos-animate, [aos][aos][aos-delay='1100'].aos-animate {
    transition-delay: 1100ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1150'] [aos], [aos][aos][aos-delay='1150'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1150'] [aos].aos-animate, [aos][aos][aos-delay='1150'].aos-animate {
    transition-delay: 1150ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1200'] [aos], [aos][aos][aos-delay='1200'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1200'] [aos].aos-animate, [aos][aos][aos-delay='1200'].aos-animate {
    transition-delay: 1200ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1250'] [aos], [aos][aos][aos-delay='1250'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1250'] [aos].aos-animate, [aos][aos][aos-delay='1250'].aos-animate {
    transition-delay: 1250ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1300'] [aos], [aos][aos][aos-delay='1300'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1300'] [aos].aos-animate, [aos][aos][aos-delay='1300'].aos-animate {
    transition-delay: 1300ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1350'] [aos], [aos][aos][aos-delay='1350'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1350'] [aos].aos-animate, [aos][aos][aos-delay='1350'].aos-animate {
    transition-delay: 1350ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1400'] [aos], [aos][aos][aos-delay='1400'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1400'] [aos].aos-animate, [aos][aos][aos-delay='1400'].aos-animate {
    transition-delay: 1400ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1450'] [aos], [aos][aos][aos-delay='1450'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1450'] [aos].aos-animate, [aos][aos][aos-delay='1450'].aos-animate {
    transition-delay: 1450ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1500'] [aos], [aos][aos][aos-delay='1500'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1500'] [aos].aos-animate, [aos][aos][aos-delay='1500'].aos-animate {
    transition-delay: 1500ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1550'] [aos], [aos][aos][aos-delay='1550'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1550'] [aos].aos-animate, [aos][aos][aos-delay='1550'].aos-animate {
    transition-delay: 1550ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1600'] [aos], [aos][aos][aos-delay='1600'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1600'] [aos].aos-animate, [aos][aos][aos-delay='1600'].aos-animate {
    transition-delay: 1600ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1650'] [aos], [aos][aos][aos-delay='1650'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1650'] [aos].aos-animate, [aos][aos][aos-delay='1650'].aos-animate {
    transition-delay: 1650ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1700'] [aos], [aos][aos][aos-delay='1700'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1700'] [aos].aos-animate, [aos][aos][aos-delay='1700'].aos-animate {
    transition-delay: 1700ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1750'] [aos], [aos][aos][aos-delay='1750'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1750'] [aos].aos-animate, [aos][aos][aos-delay='1750'].aos-animate {
    transition-delay: 1750ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1800'] [aos], [aos][aos][aos-delay='1800'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1800'] [aos].aos-animate, [aos][aos][aos-delay='1800'].aos-animate {
    transition-delay: 1800ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1850'] [aos], [aos][aos][aos-delay='1850'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1850'] [aos].aos-animate, [aos][aos][aos-delay='1850'].aos-animate {
    transition-delay: 1850ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1900'] [aos], [aos][aos][aos-delay='1900'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1900'] [aos].aos-animate, [aos][aos][aos-delay='1900'].aos-animate {
    transition-delay: 1900ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='1950'] [aos], [aos][aos][aos-delay='1950'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='1950'] [aos].aos-animate, [aos][aos][aos-delay='1950'].aos-animate {
    transition-delay: 1950ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2000'] [aos], [aos][aos][aos-delay='2000'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2000'] [aos].aos-animate, [aos][aos][aos-delay='2000'].aos-animate {
    transition-delay: 2000ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2050'] [aos], [aos][aos][aos-delay='2050'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2050'] [aos].aos-animate, [aos][aos][aos-delay='2050'].aos-animate {
    transition-delay: 2050ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2100'] [aos], [aos][aos][aos-delay='2100'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2100'] [aos].aos-animate, [aos][aos][aos-delay='2100'].aos-animate {
    transition-delay: 2100ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2150'] [aos], [aos][aos][aos-delay='2150'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2150'] [aos].aos-animate, [aos][aos][aos-delay='2150'].aos-animate {
    transition-delay: 2150ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2200'] [aos], [aos][aos][aos-delay='2200'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2200'] [aos].aos-animate, [aos][aos][aos-delay='2200'].aos-animate {
    transition-delay: 2200ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2250'] [aos], [aos][aos][aos-delay='2250'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2250'] [aos].aos-animate, [aos][aos][aos-delay='2250'].aos-animate {
    transition-delay: 2250ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2300'] [aos], [aos][aos][aos-delay='2300'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2300'] [aos].aos-animate, [aos][aos][aos-delay='2300'].aos-animate {
    transition-delay: 2300ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2350'] [aos], [aos][aos][aos-delay='2350'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2350'] [aos].aos-animate, [aos][aos][aos-delay='2350'].aos-animate {
    transition-delay: 2350ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2400'] [aos], [aos][aos][aos-delay='2400'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2400'] [aos].aos-animate, [aos][aos][aos-delay='2400'].aos-animate {
    transition-delay: 2400ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2450'] [aos], [aos][aos][aos-delay='2450'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2450'] [aos].aos-animate, [aos][aos][aos-delay='2450'].aos-animate {
    transition-delay: 2450ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2500'] [aos], [aos][aos][aos-delay='2500'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2500'] [aos].aos-animate, [aos][aos][aos-delay='2500'].aos-animate {
    transition-delay: 2500ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2550'] [aos], [aos][aos][aos-delay='2550'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2550'] [aos].aos-animate, [aos][aos][aos-delay='2550'].aos-animate {
    transition-delay: 2550ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2600'] [aos], [aos][aos][aos-delay='2600'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2600'] [aos].aos-animate, [aos][aos][aos-delay='2600'].aos-animate {
    transition-delay: 2600ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2650'] [aos], [aos][aos][aos-delay='2650'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2650'] [aos].aos-animate, [aos][aos][aos-delay='2650'].aos-animate {
    transition-delay: 2650ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2700'] [aos], [aos][aos][aos-delay='2700'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2700'] [aos].aos-animate, [aos][aos][aos-delay='2700'].aos-animate {
    transition-delay: 2700ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2750'] [aos], [aos][aos][aos-delay='2750'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2750'] [aos].aos-animate, [aos][aos][aos-delay='2750'].aos-animate {
    transition-delay: 2750ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2800'] [aos], [aos][aos][aos-delay='2800'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2800'] [aos].aos-animate, [aos][aos][aos-delay='2800'].aos-animate {
    transition-delay: 2800ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2850'] [aos], [aos][aos][aos-delay='2850'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2850'] [aos].aos-animate, [aos][aos][aos-delay='2850'].aos-animate {
    transition-delay: 2850ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2900'] [aos], [aos][aos][aos-delay='2900'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2900'] [aos].aos-animate, [aos][aos][aos-delay='2900'].aos-animate {
    transition-delay: 2900ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='2950'] [aos], [aos][aos][aos-delay='2950'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='2950'] [aos].aos-animate, [aos][aos][aos-delay='2950'].aos-animate {
    transition-delay: 2950ms; }

/* line 30, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
body[aos-delay='3000'] [aos], [aos][aos][aos-delay='3000'] {
  transition-delay: 0; }
  /* line 33, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  body[aos-delay='3000'] [aos].aos-animate, [aos][aos][aos-delay='3000'].aos-animate {
    transition-delay: 3000ms; }

/**
 * Fade animations:
 * fade
 * fade-up, fade-down, fade-left, fade-right
 * fade-up-right, fade-up-left, fade-down-right, fade-down-left
 */
/* line 50, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos^='fade'][aos^='fade'] {
  opacity: 0;
  transition-property: all; }
  /* line 52, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos^='fade'][aos^='fade'].aos-animate {
    opacity: 1; }

/* line 55, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='fade-up'] {
  transform: translate(0, 100px); }
  /* line 57, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='fade-up'].aos-animate {
    transform: translate(0, 0); }

/* line 60, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='fade-down'] {
  transform: translate(0, -100px); }
  /* line 62, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='fade-down'].aos-animate {
    transform: translate(0, 0); }

/* line 65, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='fade-right'] {
  transform: translate(-100px, 0); }
  /* line 67, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='fade-right'].aos-animate {
    transform: translate(0, 0); }

/* line 70, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='fade-left'] {
  transform: translate(100px, 0); }
  /* line 72, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='fade-left'].aos-animate {
    transform: translate(0, 0); }

/* line 75, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='fade-up-right'] {
  transform: translate(-100px, 100px); }
  /* line 77, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='fade-up-right'].aos-animate {
    transform: translate(0, 0); }

/* line 80, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='fade-up-left'] {
  transform: translate(100px, 100px); }
  /* line 82, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='fade-up-left'].aos-animate {
    transform: translate(0, 0); }

/* line 85, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='fade-down-right'] {
  transform: translate(-100px, -100px); }
  /* line 87, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='fade-down-right'].aos-animate {
    transform: translate(0, 0); }

/* line 90, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='fade-down-left'] {
  transform: translate(100px, -100px); }
  /* line 92, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='fade-down-left'].aos-animate {
    transform: translate(0, 0); }

/**
 * Zoom animations:
 * zoom-in, zoom-in-up, zoom-in-down, zoom-in-left, zoom-in-right
 * zoom-out, zoom-out-up, zoom-out-down, zoom-out-left, zoom-out-right
 */
/* line 101, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos^='zoom'][aos^='zoom'] {
  opacity: 0;
  transition-property: all; }
  /* line 103, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos^='zoom'][aos^='zoom'].aos-animate {
    opacity: 1; }

/* line 106, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='zoom-in'] {
  transform: scale(0.6); }
  /* line 108, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='zoom-in'].aos-animate {
    transform: scale(1); }

/* line 111, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='zoom-in-up'] {
  transform: translate(0, 100px) scale(0.6); }
  /* line 113, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='zoom-in-up'].aos-animate {
    transform: translate(0, 0) scale(1); }

/* line 116, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='zoom-in-down'] {
  transform: translate(0, -100px) scale(0.6); }
  /* line 118, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='zoom-in-down'].aos-animate {
    transform: translate(0, 0) scale(1); }

/* line 121, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='zoom-in-right'] {
  transform: translate(-100px, 0) scale(0.6); }
  /* line 123, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='zoom-in-right'].aos-animate {
    transform: translate(0, 0) scale(1); }

/* line 126, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='zoom-in-left'] {
  transform: translate(100px, 0) scale(0.6); }
  /* line 128, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='zoom-in-left'].aos-animate {
    transform: translate(0, 0) scale(1); }

/* line 131, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='zoom-out'] {
  transform: scale(1.2); }
  /* line 133, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='zoom-out'].aos-animate {
    transform: scale(1); }

/* line 136, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='zoom-out-up'] {
  transform: translate(0, 100px) scale(1.2); }
  /* line 138, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='zoom-out-up'].aos-animate {
    transform: translate(0, 0) scale(1); }

/* line 141, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='zoom-out-down'] {
  transform: translate(0, -100px) scale(1.2); }
  /* line 143, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='zoom-out-down'].aos-animate {
    transform: translate(0, 0) scale(1); }

/* line 146, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='zoom-out-right'] {
  transform: translate(-100px, 0) scale(1.2); }
  /* line 148, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='zoom-out-right'].aos-animate {
    transform: translate(0, 0) scale(1); }

/* line 151, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='zoom-out-left'] {
  transform: translate(100px, 0) scale(1.2); }
  /* line 153, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='zoom-out-left'].aos-animate {
    transform: translate(0, 0) scale(1); }

/**
 * Slide animations
 */
/* line 164, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='slide-up'] {
  transform: translate(0, 100%); }
  /* line 166, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='slide-up'].aos-animate {
    transform: translate(0, 0); }

/* line 169, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='slide-down'] {
  transform: translate(0, -100%); }
  /* line 171, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='slide-down'].aos-animate {
    transform: translate(0, 0); }

/* line 174, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='slide-right'] {
  transform: translate(-100%, 0); }
  /* line 176, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='slide-right'].aos-animate {
    transform: translate(0, 0); }

/* line 179, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='slide-left'] {
  transform: translate(100%, 0); }
  /* line 181, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='slide-left'].aos-animate {
    transform: translate(0, 0); }

/**
 * Flip animations:
 * flip-left, flip-right, flip-up, flip-down
 */
/* line 192, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos^='flip'] {
  backface-visibility: hidden; }

/* line 196, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='flip-left'] {
  transform: perspective(2500px) rotateY(-100deg); }
  /* line 198, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='flip-left'].aos-animate {
    transform: perspective(2500px) rotateY(0); }

/* line 201, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='flip-right'] {
  transform: perspective(2500px) rotateY(100deg); }
  /* line 203, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='flip-right'].aos-animate {
    transform: perspective(2500px) rotateY(0); }

/* line 206, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='flip-up'] {
  transform: perspective(2500px) rotateX(-100deg); }
  /* line 208, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='flip-up'].aos-animate {
    transform: perspective(2500px) rotateX(0); }

/* line 211, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
[aos='flip-down'] {
  transform: perspective(2500px) rotateX(100deg); }
  /* line 213, /Applications/MAMP/htdocs/digital/js/aos/src/sass/aos.scss */
  [aos='flip-down'].aos-animate {
    transform: perspective(2500px) rotateX(0); }

/*# sourceMappingURL=aos.css.map */